
@model loginReg.Models.Register
<h1>Registration</h1>
<form asp-action="/submit" method="post" asp-controller="User">
    <div class = "form-group">
        <span asp-validation-for= "FirstName"></span>
        <label asp-for="FirstName" ></label>
        <input type = "text" asp-for="FirstName">
    </div>
        <label asp-for = "lastName" ></label>
        <input type = "text" asp-for= "lastName">

        <label asp-for = "email" ></label>
        <input asp-for = "email">

        <label asp-for= "password" ></label>
        <input type = "password" asp-for = "password">

        <label asp - for = "confPassword" ></label>
        <input asp-for = "password">

        <input type="submit" value="Register Me!">
</form>

    <h1>Login</h1>
    <form action="loggedIn" method = "POST">
        <label name = "email" >Email: </label>
        <input name = "email">
    
        <label name = "password" >Password: </label>
        <input type = "text" name = "password">
        
        <input type="submit" value="Log me in!">
    </form>