<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/Success" method="POST">
        <label name = "firstName" >First Name: </label>
        <input type = "text" name = "firstName">

        <label name = "lastName" >Last Name: </label>
        <input type = "text" name = "lastName">

        <label name = "email" >Email: </label>
        <input name = "email">

        <label name = "password" >Password: </label>
        <input type = "text" name = "password">

        <label name = "confPassword" >Confirm Password: </label>
        <input name = "confPassword">

        <input type="button" value="Register Me!">
    </form>

    <h1>Login</h1>
    <form action="loggedIn" method = "POST">
        <label name = "email" >Email: </label>
        <input name = "email">
    
        <label name = "password" >Password: </label>
        <input type = "text" name = "password">
        
        <input type="button" value="Log me in!">
    </form>
</body>
</html>