<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @model loginReg.Models.userRegister

    <h1>Registration</h1>
    <form action="/Submit" method="POST" asp-controller="User">
        <span asp-validation-for="firstName"></span>
        <label asp-for = "firstName" ></label>
        <input type = "text" name="firstName" value= @Model.userRegister>

        <label asp-for = "lastName" ></label>
        <input type = "text" asp-for= "lastName">

        <label asp-for = "email" ></label>
        <input asp-for = "email">

        <label asp-for= "password" ></label>
        <input type = "password" asp-for = "password">

        <label asp - for = "confPassword" ></label>
        <input asp-for = "password">

        <input type="submit" value="Register Me!">
    </form>

    <h1>Login</h1>
    <form action="loggedIn" method = "POST">
        <label name = "email" >Email: </label>
        <input name = "email">
    
        <label name = "password" >Password: </label>
        <input type = "text" name = "password">
        
        <input type="submit" value="Log me in!">
    </form>
</body>
</html>